@import '../../../../shared/styles/vars.scss';

.card {
	width: 400px;
	height: 300px;

	border-radius: 20px;
	box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

	&__info {
		display: flex;

		&_main {
			margin-left: 20px;
			margin-top: 20px;

			.temp {
				@include ui-font(96px, 500);

				color: $blue-color;
			}

			.day {
				@include ui-font(40px, 300);

				color: #000;
			}
		}

		&_img {
			width: 120px;
			height: 120px;

			margin-top: 45px;
			margin-left: 68px;
		}
	}

	&__description {
		@include ui-font(24px, 300);

		color: $gray-color;

		margin-left: 20px;
		margin-top: 40px;
	}
}
