.card{
    width: 750px;
    height: 300px;

    border-radius: 20px;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

    display: grid;
    grid-template: repeat(4, 30px), repeat(3, 100px);

    &info{
        display: flex;

        &_img{
            width: 20px;
            height: 20px;
        }
    }
}