@import '../../../../shared/styles/vars.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		display: flex;
		align-items: center;

		&_text {
			text-transform: uppercase;
			font-size: 25px;
			color: $primary-blue;
			font-weight: 700;

			margin-left: 20px;
		}
	}

	&__themeCity {
		display: flex;
		align-items: center;
	}
}
