@import '../../shared/styles/vars.scss';

.card {
	display: flex;
	flex-direction: column;

	width: 150px;
	height: 200px;

	margin-right: 20px;
	padding: 12px;

	border-radius: 10px;

	background-color: var(#{--card-background-default});

	&__day {
		@include ui-font(18px, 500);
		color: var(#{--text-color-default});
	}

	&__date {
		font-size: 14px;
		color: $primary-gray;

		margin-top: 8px;
	}

	&__iconId {
		width: 48px;
		height: 48px;

		margin-top: 12px;
	}

	&__dayTemp {
		@include ui-font(18px, 500);
		color: var(#{--text-color-default});

		margin-top: 12px;
	}

	&__nightTemp,
	&__description {
		font-size: 13px;

		color: $primary-gray;
	}

	&__description {
		margin-top: 6px;
	}

	&:hover {
		box-shadow: var(#{--card-shadow-default});
		transition: 0.3s ease-in-out;
	}
}
